$color-lightgreen: #aaeab9;

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-lightgreen {
  background: $color-lightgreen;
}

.t-0 {
  top: 0px !important;
}
.l-0 {
  left: 0px !important;
}

.layer-max {
  z-index: 999999;
}
