<html>
  <head>
    <title>NoteSync</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="container my-5">
      <h1 class="text-center"><%- (note.name || "My Note") %></h1>
      <form id="frmNote">
        <div id="note">
          <% if (note) { %>
          <div class="form-group">
            <textarea
              id="content"
              name="content"
              rows="20"
              class="form-control"
            >
<%- note.content %></textarea
            >
          </div>
          <% } %>
        </div>
        <button class="btn btn-primary">Submit</button>
      </form>
    </div>
    <script>
      async function post(url, data) {
        var args = {
          body: JSON.stringify(data),
          headers: {
            "content-type": "application/json"
          },
          method: "post"
        };
        return await (await fetch(url, args)).text();
      }
      async function updateNote(content) {
        await post(window.location.href, { content }).catch(e => {
          alert("Error updating note");
          console.error(e);
        });
      }
      document
        .querySelector("#frmNote")
        .addEventListener("submit", function(e) {
          e.preventDefault();
          updateNote(document.querySelector("#content").value);
        });
    </script>
  </body>
</html>
